{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">RomM API Settings</h1>
              <div class="card has-background-dark">                  
                <div class="card-content">
                  <!-- <p class="title">RomM API Settings</p> -->
                  <form method="post" action="{{ url_for('config_romm_api_settings') }}">
                  <div class="field">
                    <label class="label">RomM API URL</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="RomM API URL" name="romm_api_base_url" value="{{ config.get('romm_api_base_url', '') }}">
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Username" name="romm_username" value="{{ config.get('romm_username', '') }}">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Password" name="romm_password" value="{{ config.get('romm_password', '') }}">
                    </div>
                  </div>  

                  <div class="control">
                    <button class="button is-primary" type="submit">
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </div>

                <h1 class="title custom-title">Sync Collections</h1>
                <div class="card has-background-dark">                  
                  <div class="card-content">
                    <!-- <p class="title">Sync Collections</p> -->
                    <form method="post" action="{{ url_for('config_collection_sync_settings') }}">
                    <div class="field">                    
                      <div class="list has-hoverable-list-items">
                          {% for collection in collections %}
                          <div class="list-item">     
                              <input type="text" hidden name="collections_id" value="{{ collection.collections_id }}">       
                              <input class="checkbox" type="checkbox" name="collection_sync_{{ collection.collections_id }}" value="{{ collection.collection_sync }}" {% if collection.collection_sync %}checked{% endif %} />            
                              <div class="list-item-content">                                
                                  <div class="list-item-title">{{ collection.name }}</div>
                                  <div class="list-item-description"></div>
                              </div>                            
                          </div> 
                          {% endfor %}                           
                      </div>
                    </div>
                    
                    <div class="control">
                      <button class="button is-primary" type="submit">
                        Save
                      </button>
                    </div>
                    </form>
                  </div>
                </div>
                
                <h1 class="title custom-title">Platform Matching</h1>
                <div class="card has-background-dark">                  
                  <div class="card-content">
                    <!-- <p class="title">Platform Matching</p> -->
                    <div class="content">
                      <label class="label">Steamdeck System Path</label>
                      <form method="post" action="{{ url_for('config_steamdeck_platform_path') }}">
                      <div class="field is-grouped">                  
                        <div class="control">
                            <input class="input input-field" type="text" name="steamdeck_path" placeholder="retrodeck path" value="{{ config.get('steamdeck_retrodeck_path', '') }}">                      
                        </div>
                        <div class="control">
                          <button class="button is-primary" type="submit">
                            Set
                          </button>
                        </div>
                      </div>
                      </form>
                    </div>

                    <table class="table is-fullwidth">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>RomM Platform Name</th>                      
                          <th>Platform Folder Steamdeck</th>                      
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for platform in platform_matching %}
                        <form method="post" action="{{ url_for('config_platform_matching') }}">
                        <tr>
                          <th class="cell">{{ platform.romm_platform_id }}</th>                      
                          <td class="cell">{{ platform.romm_platform_name }}</td>
                          <td>
                            <!-- <div class="select">
                              <select value="{{ platform.steamdeck_platform_name }}">
                                <option>psx</option>
                                <option>ps2</option>
                              </select>
                            </div> -->
                            <input type="text" hidden name="romm_platform_id" value="{{ platform.romm_platform_id }}">
                            <input class="input input-field" type="text" name="steamdeck_platform_name" placeholder="steamdeck-platform" value="{{ platform.steamdeck_platform_name }}">
                          </td>
                          <td>
                            <button class="button is-primary" type="submit">
                              Save
                            </button>
                          </td>
                        </tr>                        
                        </form>
                        {% endfor %}                        
                      </tbody>
                    </table>                         
                  </div>
                </div>                                           

                <!-- ALT -->                
                <!-- {% for key, value in config.items() %}
                <div class="field">
                    <label class="label">{{ key }}</label>
                    <div class="control">
                        <input class="input" type="text" name="{{ key }}" value="{{ value }}">
                    </div>
                </div>
                {% endfor %}
                <div class="control">
                    <button class="button is-primary" type="submit">Speichern</button>
                </div> -->            
        </div>
    </section>
{% endblock content %}