{% extends "base.html" %}

{% block content %}
    <style>
        .log-text {
            font-size: 16px;
            font-weight: 900 !important;
        }
    </style>
    <section class="section">    
        <div class="container">            
            <h1 class="title">Background Worker Logging</h1>
            {% for group in log_groups %}
            <div class="card has-background-dark">
                <div class="card-content">
                    <p class="title">{{ group[0].split('- INFO')[0] }}</p>
                    <div class="content">  
                        {% for line in group %}
                            <pre>{{ line }}</pre>
                        {% endfor %}
                        <!-- <p class="subtitle">12.03.2025 19:44 Uhr</p>                      
                        <pre class="log-text">12.03.2025 19:44 Uhr - Background Worker started</pre>
                        <pre class="log-text has-text-info">12.03.2025 19:44 Uhr - Romm Collection Sync started</pre>
                        <pre class="log-text has-text-info">12.03.2025 19:44 Uhr - 2 new ROMS found in "Steamdeck"</pre>
                        <pre class="log-text has-text-info">12.03.2025 19:44 Uhr - Romm Collection Sync finished</pre>

                        <pre class="log-text has-text-info">12.03.2025 19:44 Uhr - ROM Sync started</pre>
                        <pre class="log-text has-text-info">12.03.2025 19:44 Uhr - No new ROMS found</pre>
                        <pre class="log-text has-text-info">12.03.2025 19:44 Uhr - ROM Sync finished</pre>

                        <pre class="log-text"><b>12.03.2025 19:44 Uhr - Background Worker finished</b></pre> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}