{% extends "base.html" %}
{% block content %}
    <!-- <section class="section">
        <div class="container">
            <h2 class="title">Server Status</h2>
            <div class="card has-background-dark">
                <div class="card-content">
                    <p class="subtitle">Background Worker runs</p>
                    <p>
                        <strong>Version:</strong> {{ version }}
                    </p>
                </div>
            </div>
        </div>
    </section> -->
    <section class="section">
        <div class="container">
            <h2 class="title">Collections</h2>
            {% for collection in collections %}
            <!-- <div class="card has-background-dark collection-content" data-id="{{ collection.collections_id }}"> -->
            <div class="card has-background-dark"> 
                <div class="card-content">
                    <div class="media collection-content" data-id="{{ collection.collections_id }}">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img height="64" width="64" src="https://cdn.cloudflare.steamstatic.com/steamdeck/images/social_media_image.jpg"
                                     alt="Placeholder image" />
                            </figure>                            
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ collection.name }}</p>
                            <p class="subtitle is-6">{{ collection.roms|length }} Roms</p>
                        </div>
                        <i class="fa-solid fa-circle-chevron-up fa-2xl collapse-icon"></i>
                    </div>
                    <div id="collections_id_{{ collection.collections_id }}" class="content"> <!-- collapse -->                                                                        
                        <!-- START -->
                        <div class="list has-hoverable-list-items">
                            {% for rom in collection.roms %}
                            <div class="list-item">
                                <div class="list-item-image">
                                    <figure class="image">
                                        <img class="cover-img" src="{{ rom.url_cover }}" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="list-item-content">
                                    <div class="list-item-title">{{ rom.name }}</div>
                                    <div class="list-item-description">{{ rom.platform_fs_slug }}</div>
                                </div>
                                {% if rom.sync_status == 0 %}
                                <i class="fa-solid fa-spinner fa-xl icon-in-progess"></i>
                                {% elif rom.sync_status == 1 %}
                                <i class="fa-solid fa-circle-check fa-xl icon-in-success"></i>
                                {% elif rom.sync_status == 2 %}
                                <i class="fa-solid fa-circle-xmark fa-xl icon-in-error"></i>
                                {% endif %}                                                                
                                <div class="dropdown btn-bars-menu"> <!-- is-active -->
                                    <div class="dropdown-trigger">
                                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span><i class="fa-solid fa-bars"></i></span>
                                        <!-- <span class="icon is-small">
                                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span> -->
                                      </button>
                                    </div>
                                    <div class="dropdown-menu inner-button" id="dropdown-menu" role="menu">
                                      <div class="dropdown-content">
                                        <a href="#" class="dropdown-item"> Show Details </a>
                                        <hr class="dropdown-divider" />
                                        <a onclick="dropdown_reset_status({{ rom.roms_id }})" class="dropdown-item"> Reset Sync Status </a>
                                        <!-- <a class="dropdown-item"> Sync now </a>                                        
                                        
                                        
                                        <a href="#" class="dropdown-item"> Delete </a> -->
                                      </div>
                                    </div>
                                  </div>
                            </div>                             
                            {% endfor %}                           
                        </div>
                        <!-- ENDE -->
                    </div>                    
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <script>
        // Alle divs mit der Klasse "box" selektieren
        document.querySelectorAll(".collection-content").forEach(div => {            
            div.addEventListener("click", function() {
                let divId = div.getAttribute("data-id");                
                let content_div = document.getElementById("collections_id_" + divId);
                content_div.classList.toggle("collapse");   
                
                // Icon umschalten
                let icon = this.querySelector(".collapse-icon");
                icon.classList.toggle("fa-circle-chevron-up");
                icon.classList.toggle("fa-circle-chevron-down");
            });
        }); 
        
        // Alle Dropdowns selektieren
        document.querySelectorAll(".dropdown").forEach(dropdown => {
            dropdown.addEventListener("click", function() {                
                // let dropdownMenu = this.querySelector(".dropdown");
                dropdown.classList.toggle("is-active");
            });
        });

        // Dropdown Reset Status
        function dropdown_reset_status(roms_id) {
            console.log("Reset Status: " + roms_id);
            fetch("/dropdown/reset_status", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    roms_id: roms_id
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log("Antwort vom Server: " + data);
                location.reload();
            })
            .catch(error => {
                console.error("Fehler:", error);
            });
        }
    </script>
{% endblock content %}
